<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <title>Dan's Draw 404!</title>
</head>
<body class='grey'>
    <div class="box white">
        <h1 class='box blue'>That's a 404! This page doesn't exist!!</h1>
        <a href="/" class='box button red'>Go home</a>
        <img id='gif' class='box' src="" alt="random 404 .gif">
    </div>
    <script>
fetch('https://api.giphy.com/v1/gifs/random?api_key=2YqcidDcurtuecTrH9YQ0nqTm1THVXAz&tag=error+404',
    {mode: 'cors'})
    .then(res => res.json())
    .then(res => document.getElementById('gif').src = res.data.images.original.url)
    // .then(res => console.log(res))
    .catch(console.log)
    </script>
</body>
</html>