<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <title>Dan's Draw!</title>
</head>
<body class='green'>
    <div class='box white' id='ui'></div>
    <script>
const socket = io()
const [ roomName, playerName ] = window.location.pathname.split('/').slice(2,4)
const uiElement = document.getElementById('ui')

socket.emit('join', { roomName, playerName })

socket.on('update ui', (data) => {
    uiElement.innerHTML = data
})

socket.on('failed to join room', (data) => {
    window.location.href = '/?err=' + data
})
    </script>
</body>
</html>