<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <title>Dan's Draw!</title>
</head>
<body class='grey'>
    <div class='box white' id='ui'></div>
    <script>
const socket = io()
const [ roomName, playerName ] = window.location.pathname.split('/').slice(2,4)
const uiElement = document.getElementById('ui')
let isAdmin = false

// replaces el.innerHTML. will execute script tags
var setInnerHTML = function(elm, html) {
  elm.innerHTML = html;
  Array.from(elm.querySelectorAll("script")).forEach( oldScript => {
    const newScript = document.createElement("script");
    Array.from(oldScript.attributes)
      .forEach( attr => newScript.setAttribute(attr.name, attr.value) );
    newScript.appendChild(document.createTextNode(oldScript.innerHTML));
    oldScript.parentNode.replaceChild(newScript, oldScript);
  });
}

socket.emit('join', { roomName, playerName })

socket.on('update ui', (data) => setInnerHTML(uiElement, data) )

socket.on('failed to join room', (data) => window.location.href='/?err='+data )

socket.on('admin', (data) => isAdmin=true)
    </script>
</body>
</html>