body {
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	--button-shadow: black;
	--admin-display: none;
}

.admin {
	display: var(--admin-display) !important;
}

.box {
	border: 3px black solid;
	border-radius: 5px;
	margin: 20px auto;
	padding: 20px;
	width: 500px;
	max-width: 100%;
	display: block;
	box-sizing: border-box;
}

.no-padding {
	padding: 0;
}

.red {
	background-image: linear-gradient(45deg, #ffdddd 25%, #eebbbb 25%, #eebbbb 50%, #ffdddd 50%, #ffdddd 75%, #eebbbb 75%, #eebbbb 100%);
	background-size: 56.57px 56.57px;
	--button-shadow: #b32929;
}

.green {
	background-image: linear-gradient(45deg, #ddffdd 25%, #bbeebb 25%, #bbeebb 50%, #ddffdd 50%, #ddffdd 75%, #bbeebb 75%, #bbeebb 100%);
	background-size: 56.57px 56.57px;
	--button-shadow: #46b846;
}

.blue {
	background-image: linear-gradient(45deg, #ccd1ed 25%, #bfc2f5 25%, #bfc2f5 50%, #ccd1ed 50%, #ccd1ed 75%, #bfc2f5 75%, #bfc2f5 100%);
	background-size: 56.57px 56.57px;
	--button-shadow: #415abf;
}

.grey {
	background-image: linear-gradient(45deg, #f0f0f0 25%, #e8e8e8 25%, #e8e8e8 50%, #f0f0f0 50%, #f0f0f0 75%, #e8e8e8 75%, #e8e8e8 100%);
	background-size: 56.57px 56.57px;
	--button-shadow: #a3a3a3;
}

.white {
	background-color: white;
}

.hidden {
	display: none;
}

input {
	font-family: monospace;
	font-size: 30px;
	text-align: center;
}

button {
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

a {
	color: initial;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.button {
	font-weight: 700;
	transition: transform, box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	box-shadow: 0px 0px 0 0 var(--button-shadow);
	--button-offset: 10px;
	--neg-button-offset: -10px;
}

.button:hover:not([disabled]) {
	transform: translate(var(--button-offset), var(--neg-button-offset));
	box-shadow: var(--neg-button-offset) var(--button-offset) 0 0 var(--button-shadow);
}

#gif {
	width: 400px;
	max-width: 80%;
}
